<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
      <header>
        About
      </header>

      <%= link_to 'Back2Home', root_path %>

  </body>
</html>
