<div class="container">
    <footer class="footer">
        <small>Copyright &copy; Yoset G.  </small>
        <nav>
          <ul>
            <li><%= link_to "About",welcome_about_path%></li>
          </ul>
        </nav>
    </footer>
</div>
